[data-theme="dark"] {
  --color-bg: #1c1c1c;
  --color-bg-secondary: #232323;

  --color-text: #ffffff;
  --color-text-secondary: #cccccc;
  --color-text-accent: #ffffff;

  --color-border: #333333;
}