:root {
  --color-bg: #fcfcfc;
  --color-bg-secondary: #ffffff;
  --color-bg-panel: #dedede;

  --color-text: #000000;
  --color-text-secondary: #555555;
  --color-text-accent: #ff386d;

  --color-border: #cdcdcd;
}