:root {
  --color-bg: #ebebeb;
  --color-bg-secondary: #ffffff;
  --color-bg-panel: #dedede;
  --color-bg-highlight: #00B9F0;

  --color-text: #000000;
  --color-text-secondary: #555555;
  --color-text-accent: #ff386d;

  --color-border: #cdcdcd;
}