@import './themes/index.css';
@import './components/index.css';
@import './pages/index.css';
@import './typography.css';

* {
    box-sizing: border-box;
    transition: color 0.3s ease, background-color 0.3s ease, border-color 0.3s ease;
}

html {
    font-size: 10px;
}

body {
    margin: 0;
    background-color: var(--color-bg);
    color: var(--color-text);
}

.page-content {
    padding: 10px 30px;
}