@import url('https://fonts.googleapis.com/css2?family=Quantico:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

* {
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    font-size: 1rem;
    color: var(--color-text-secondary);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
button {
    all: unset
}

h1,
h2,
h3 {
    font-family: "Quantico", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: var(--color-text);
}

h1 {
    font-size: 2.625rem;
}

h2 {
    font-size: 2.25rem;
}

h3 {
    font-size: 1.5rem;
}

a,
button {
    cursor: pointer;
}